[Unit]
Description=CineVerse Django Web Server
After=network-online.target
Wants=network-online.target

[Service]
User=nafis
Group=nafis
WorkingDirectory=/home/nafis/CineVerse
ExecStart=/bin/bash /home/nafis/CineVerse/pi_deployment/cineverse_startup.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
